.body{
  background-color: #eee;
}
.container{
  width: 100%;
  /* width: 20%; */
  margin: 20px auto;
  /* margin: 20px 200px; */
  height: 300px;
}
.carousel{
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 300px;
  border: 2px solid orange;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.slider{
  /* border: 1px solid green; */
  display: flex;
  height: 100%;
  width: 500%;
  flex-shrink: 0;
  transition: all 0.5s;
}
.slider section{
  flex-basis: 20%;
  width: 20%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow{
  position: absolute;
  top: 10px;
  cursor: pointer;
}
.arrow.prev{
  left: 10px;
}
.arrow.next{
  right: 10px;

}